.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.Ruserdata

STMFinput.zip
backup
Analyses

Figures/baseline_by_country
Figures/baseline_by_country_orig_ages
Figures/deprecated
Figures/summary
Figures/yll_paper

Data/STMFinput.zip
Data/201118_STMFinput.zip
Data/Output_5.zip
Data/France_micro
Data/STMFinputs
Data/STMFinput/
Data/backup
Data/US_Weekly_counts_of_deaths_by_jurisdiction_and_age_group.csv
Data/stmf.xlsx
Data/STMFinput.zip
Data/WPP2019_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.xlsx
Data/WPP2019_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.xlsx
Data/WPP2019_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.xlsx
Data/deprecated
Data/mexico_deaths.zip
Data/peru_deaths.zip


Output/deliverables
Output/single_ests
Output/pop_interpol_week_age1.rds
Output/db_for_baseline_monthly_age5.rds
Output/baseline_by_country
Output/pop_interpol_month_age5.rds
Output/pop_interpol_age5.rds
Output/baseline_mortality.rds
Output/baseline.rds
Output/baseline_month_by_country
Output/baseline_by_country
Output/deprecated
Output/baseline_all_countries.rds
Output/db_for_baseline_age5.rds
Output/deaths_stmf_age5.rds
Output/pop_interpol_week_age5.rds
Output/cumulative_excess_2020_2021.csv
Output/deprecated
Output/single_ests
Output/pop_interpol_week_age1.rds
Output/deaths_stmf_age5.rds
Output/db_for_baseline_monthly_age5.rds
Output/baseline_by_country
Output/pop_interpol_month_age5.rds
Output/pop_interpol_age5.rds
Output/baseline_mortality.rds
Output/baseline.rds
Output/baseline_month_by_country
Output/baseline_by_country
Output/db_for_baseline_age5.rds
Output/backup
Output/annual_exposures_stmf.rds
Output/pop_interpol_week_age5.rds
Output/stmf.rds
Output/stmf_std.rds
Output/deaths_stmf_age5.rds
Output/input_weekly_deaths.rds
Output/annual_exposures.rds
Output/weekly_std.rds

Code/210110_Rcode_excess.zip
Code/examples
Code/deprecated
Code/temporal_store

