.Rproj.user
.Rhistory
.RData
.Ruserdata

deprecated
single_ests
pop_interpol_week_age1.rds
deaths_stmf_age5.rds
db_for_baseline_monthly_age5.rds
baseline_by_country
pop_interpol_month_age5.rds
pop_interpol_age5.rds
baseline_mortality.rds
baseline.rds
baseline_month_by_country
baseline_by_country
db_for_baseline_age5.rds
backup
annual_exposures_stmf.rds
pop_interpol_week_age5.rds
stmf.rds
stmf_std.rds
deaths_stmf_age5.rds